body{
    background-color: rgb(63, 62, 62);
    overflow-y: hidden;
    overflow-y: hidden;
    color: white;
}
#Game_box{
    width: 800px;
    margin: auto;
    margin-top: 10px;
    height: 400px;
    background-color: teal;
    
    
}
#Game_box div{
    border-width: 10px;
    border-color: yellow;
    
}

#abc{
    width: 100px;
    text-align: center;
    background-color: rgb(83, 185, 185);
    display: inline-block;
    margin: 10px;
}
#abc:hover{
    background-color: red;
}
p{
    text-align: center;
    color: red;
    font-size: 30px;
}
#NavBar{
    width: 51%;
    margin: auto;
}