body{
    
    margin: auto;
}
canvas{
    display: block;
    width: 60%;
    height: 450px;
    margin: auto;
    border: 3px solid lightblue;
 
}
button{
    margin: 10px;
    background-color: lightblue;
}
#score{
    font-family: cursive;
    color: red;
}

#Nav{
    width: 80%;
    margin: auto;
    text-align: center;
}